# CMake
CMakeFiles/
Debug/
RelWithDebInfo/
*.cmake
CMakeCache.txt
install_manifest.txt
!CMakeMacros.cmake

# Python
__pycache__/
CodeCoverageHTMLReport/
htmlcov/
.coverage
CoberturaCodeCoverageResults_FileRevisorDevOpsPythonTests.xml

# Linux
covhtml/
build.ninja

# Windows
.vs/
x64/
*.dir
*.exe
*.filters
*.ilk
*.ipch
*.lib
*.log
*.opendb
*.sln
*.suo
*.obj
*.pch
*.pdb
*.psess
*.tlog
*.tmp
*.user
*.vcxproj
*.vspx
!FileRevisorDevOpsPython.sln

# IntegrationTests
DirectoryIteratorIntegrationTests/
FileSystemIntegrationTests/
RecursiveFileDeleterIntegrationTests/

